.topBar {
    background-color: rgb(37, 47, 61, 100%);
    color: #FFFFFF;
}

.btn-primary {
    background-color: #EDF3FD;
    border: 0;
}

.text-primary {
    color: #2C7EF8;

}

.btn:hover {
    background-color: #EDF3FD;
}

.btn-success {
    background-color: #59AE43;
    border: 0;
}

.text-danger {
    color: #F82C2C !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px;
}


.top-title {
    font-size: 48px;
}


.after-top-title {
    font-size: 24px;

}

@media screen and (max-width: 576px) {

    .logo,
    .secure-logo {
        width: 100px;
    }

    .after-top-title {
        font-size: 16px;

    }

    .top-title {
        font-size: 32px;
    }

    .checkout-progress {
        font-size: 13px;
    }

}