.topBar {
    background-color: rgb(37, 47, 61, 100%);
    color: #FFFFFF;
}

.btn-primary {
    background-color: #EDF3FD;
    border: 0;
}

.text-primary {
    color: #2C7EF8;

}

.btn-primary:hover {
    background-color: #EDF3FD;
}

.btn-primary:active {
    background-color: #EDF3FD !important;
}





.btn-success {
    background-color: #59AE43;
    border: 0;
}

.btn-success:hover {
    background-color: #59AE43;
    border: 0;
}

.btn-success:active {
    background-color: #59AE43;
    border: 0;
}
.text-danger {
    color: #F82C2C !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px;
}


.top-title {
    font-size: 48px;
}


.after-top-title {
    font-size: 24px;

}

.one-time {
    font-size: 32px;
    text-align: start;
}

.spanned-text-color {
    color: #2C7EF8;

}

.fa-check {
    color: #2C7EF8;
    margin-right: 0.7rem;
}


@media screen and (max-width: 576px) {

    .logo,
    .secure-logo {
        width: 100px;
    }

    .after-top-title {
        font-size: 16px;

    }

    .top-title {
        font-size: 32px;
    }

    .checkout-progress {
        font-size: 13px;
    }

    .one-time {
        font-size: 24px;
        line-height: 2.5rem;
        text-align: center;
    }

    .save-percent {
        font-size: 16px;
    }
    .foot {
        font-size: 13px;
    }

}